body{
background-color:black;
}
#sreco{
color:rgb(255,158,0);
}

#srecomedia{
font-family:Cambria;
text-align:center;
font-size:72px;
color:white;
}
.sheaderline{
color:white;
}
#sshortdescription{
color:white;
font-size:28px;
text-align:center;
}