body{
background-color:black;
}
#sreco{
color:rgb(255,158,0);
}

#srecomedia{
font-family:Cambria;
text-align:center;
font-size:72px;
color:White;
}
.sheaderline{
color:black;
}
#sshortdescription{
color:white;
font-size:28px;
text-align:center;
}
.form-signin {
max-width: 1000px;
      
padding: 30px;
      
margin: 0 auto;
}
.form-signin2 {
max-width: 700px;
      
padding: 30px;
      
margin: 0 auto;
}
.menubutton{
	background-color:rgb(255,158,0);
	color:White;
	border-color:Black;
	width:300px;
	height:120px;
	margin-left:10px;
	font-size:48px;
	font-family:Constantia;
}