body{
background-color:rgb(171,204,237);
}
#sreco{
color:rgb(255,158,0);
}

#srecomedia{
font-family:Cambria;
text-align:left;
font-size:60px;
margin-left:20px;
color:White;
}
#sshortdescription{
color:white;
font-size:48px;
text-align:left;
max-width:400px;
padding-left:100px;
}
.form-signin {
padding: 30px;
margin: 0 auto;
}
.form-signin2 {
max-width: 700px;
padding: 30px;  
margin: 0 auto;
}
.menubutton{
	background-color:rgb(171,204,237);
	color:White;
	border-color:rgb(171,204,237);
	width:170px;
	height:100px;
	margin-left:-1px;
	font-size:28px;
	font-family:Calibri;
	font-weight:bold;
	border:none;
}
.menubutton:hover{
	text-decoration:underline;
}
.downloadbutton{
	background-color:rgb(171,204,237);
	color:White;
	border:solid 2px white;
	border-radius:18px;
	width:170px;
	height:100px;
	margin-left:-1px;
	font-size:28px;
	font-family:Calibri;
	font-weight:bold;
}
.downloadbutton:hover{
	color:black;
	border-color:black;
}
.menubutton:focus,
.downloadbutton:focus{
	outline:none;
}
q{
	color:white;
	font-size:36px;
	font-family:verdana;
	font-style:italic;
}
	
	
.form-signin1 {
      
max-width: 330px;
      
padding: 15px;
      
margin: 0 auto;
    
}
    
.form-signin1 .form-signin1-heading,
    
.form-signin1 .checkbox 
{
      
margin-bottom: 10px;
    
}
    
.form-signin1 .checkbox {
      
font-weight: normal;
    
}
    
.form-signin1 .form-control {
      
position: relative;
      
font-size: 16px;
      
height: auto;
      
padding: 10px;
      
-webkit-box-sizing: border-box;
         
-moz-box-sizing: border-box;
              
box-sizing: border-box;
    
}
    
.form-signin1 .form-control:focus {
      
z-index: 2;
    
}
    
.form-signin1 input[type="text"] {
      
margin-bottom: -1px;
      
border-bottom-left-radius: 0;
      
border-bottom-right-radius: 0;
    
}
    
.form-signin1 input[type="password"] {
      
margin-bottom: 10px;
      
border-top-left-radius: 0;
      
border-top-right-radius: 0;
    
}
.form-signin1-heading{
color:white;
}