body{
background-color:rgb(171,204,237);
}
#sbutton{
	padding: 10px;
	color:white;
	background-color:rgb(26,140,255);
	border:none;
	border-radius: 5px;
}
.form-signin {
height:80px;
padding: 30px;
margin: 0;
margin: 0 auto;
top:0;
left:0;
right:0;
position:absolute;
background-color:white;
}
.form-signin2 {
position:absolute;
top:150px;
right:0px;
left:0px;
padding: 30px;  
margin: 0;
}
.menubutton{
	background-color:white;
	color:rgb(171,204,237);
	width:170px;
	height:100px;
	margin-left:-1px;
	font-size:28px;
	font-family:Calibri;
	font-weight:bold;
	border:none;
    position:absolute;
    top:20px;
}
.menubutton:hover{
	text-decoration:underline;
}
#btnDocument{left:600px;}
#btnModerator{left:780px;}
#btnWebviewer{left:960px;}
#btnSystem{left:1120px;}
#btnDownload{left:1300px;}
.downloadbutton{
	background-color:rgb(171,204,237);
	color:White;
	border:solid 2px white;
	border-radius:18px;
	width:170px;
	height:100px;
	margin-left:-1px;
	font-size:28px;
	font-family:Calibri;
	font-weight:bold;
    position:absolute;
    top:20px;
}
.downloadbutton:hover{
	color:black;
	border-color:black;
}
.menubutton:focus,
.form-control:focus,
.downloadbutton:focus{
	outline:none;
}
q{
	color:white;
	font-size:36px;
	font-family:verdana;
	font-style:italic;
}
	
	
.form-signin1 {

max-width: 330px;
      
padding: 15px;
      
margin: 0 auto;

}
    
.form-signin1 .form-signin1-heading,
    
.form-signin1 .checkbox 
{
      
margin-bottom: 10px;
    
}
    
.form-signin1 .checkbox {
      
font-weight: normal;
    
}
    
.form-signin1 .form-control {
      
position: relative;
      
font-size: 16px;
      
height: auto;
      
padding: 10px;
      
-webkit-box-sizing: border-box;
         
-moz-box-sizing: border-box;
              
box-sizing: border-box;

border-radius: 10px;
}
    
.form-signin1 .form-control:focus {
      
z-index: 2;
    
}
    
.form-signin1 input[type="text"] {
      
margin-bottom: -1px;
      
border-bottom-left-radius: 0;
      
border-bottom-right-radius: 0;
    
}
    
.form-signin1 input[type="password"] {
      
margin-bottom: 10px;
      
border-top-left-radius: 0;
      
border-top-right-radius: 0;
    
}
.form-signin1-heading{
color:white;
}