body{
background-color:rgb(100,100,100);
}
#sreco{
color:rgb(255,158,0);
}
#srecomedia{
font-family:Cambria;
text-align:left;
font-size:60px;
margin-left:20px;
color:White;
}
.sshortdescription{
color:white;
font-size:48px;
text-align:left;
max-width:400px;
padding-left:50px;
}
.form-signin {
padding: 30px;
margin: 0;
}
.form-signin2 {
max-width: 700px;
padding: 30px;  
margin: 0;
}
.menubutton{
	background-color:rgb(100,100,100);
	color:White;
	border-color:rgb(100,100,100);
	width:170px;
	height:100px;
	margin-left:-1px;
	font-size:28px;
	font-family:Calibri;
	font-weight:bold;
	border:none;
}
.menubutton:hover{
	text-decoration:underline;
}
#btnblank:hover{
    text-decoration:none;
}
.downloadbutton{
	background-color:rgb(100,100,100);
	color:White;
	border:solid 2px white;
	border-radius:18px;
	width:170px;
	height:100px;
	margin-left:-1px;
	font-size:28px;
	font-family:Calibri;
	font-weight:bold;
}
.downloadbutton:hover{
	color:black;
	border-color:black;
}
.menubutton:focus,
.downloadbutton:focus{
	outline:none;
}
q{
	color:white;
	font-size:36px;
	font-family:verdana;
	font-style:italic;
}
	
	
