.main{
    background-color:rgb(66,66,66);
}
.login{
    background-color:rgb(171,204,237);
}
#logo{
    width:400px;
    height:60px;
}
.topnav {
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    background-color:white;
    list-style-type:none;
    margin:0px;
    padding:20px;
    z-index:100;
}
li a{
    display:block;
    color:rgb(66,66,66);
    text-align:center;
    padding:14px 16px;
    border-color:white;
    font-size:28px;
    font-family:Calibri;
    font-weight:bold;
    border:none;
    text-decoration: none;
    border-radius: 5px;
}
a:hover{
    background-color: #ddd;
}
a:active {
    color: white;
    background-color: rgb(66,66,66);
}
a.active {
    color: white;
    background-color: rgb(66,66,66);
}

.login li a{
    display:block;
    color:rgb(171,204,237);
    text-align:center;
    padding:14px 16px;
    border-color:white;
    font-size:28px;
    font-family:Calibri;
    font-weight:bold;
    border:none;
    text-decoration: none;
    border-radius: 5px;
}
.login a:hover{
    background-color: darkblue;
}
.login a:active {
    color: white;
    background-color: rgb(171,204,237);
}
.login a.active {
    color: white;
    background-color: rgb(171,204,237);
}

.container{
    position:relative;
    right:0px;
    left:0px;
}
@media(min-width:1396px){
    li{
        float:left;
    }
    .topbutton{
        float:right;
    }
    .container{
        top:105px;
    }
    .graphicscontainer{
        width:1150px;
    }
}
@media(max-width:1395px){
    .topbutton{
        float:none;
    }
    .graphicsitem{
        float:none;
    }
    .container{
        top:485px;
    }
    .topnav{
        position:absolute;    
    }
}

.sshortdescription{
    color:white;
    font-size:40px;
    text-align:left;
    padding-left:50px;
}
.graphicsmenu{
    list-style-type:none;
    margin:0px;
    text-align:center;
}
.graphicsitem{
    display:block;
    margin:30px;
}
.graphicscontainer{
    margin: 0 auto;
}
.steps{
    width:250px;
    height:250px;
    margin:15px;
}
.steptext{
    color:white;
    font-size:36px;
}
.form-signin1 {
    width: 200px;  
    padding: 100px;  
    margin: 0 auto;
}
.form-signin1 .form-signin1-heading,   
.form-signin1 .checkbox 
{  
    margin-bottom: 10px;
}
.form-signin1 .checkbox {  
    font-weight: normal;
}
    
.form-signin1 .form-control { 
    width:100%;
    margin:0 auto;
    font-size: 16px;  
    height: auto;  
    padding: 15px;  
    -webkit-box-sizing: border-box;     
    -moz-box-sizing: border-box;          
    box-sizing: border-box;
    border-radius: 10px;
}
    
.form-signin1 .form-control:focus {  
    z-index: 2;
}
    
.form-signin1 input[type="text"] {  
    margin-bottom: -1px;  
    border-bottom-left-radius: 0;  
    border-bottom-right-radius: 0;
}
    
.form-signin1 input[type="password"] {  
    margin-bottom: 10px;  
    border-top-left-radius: 0;  
    border-top-right-radius: 0;
}
.form-signin1-heading{
    color:white;
}
#sbutton{
    width:100%;
	padding: 10px;
	color:white;
	background-color:rgb(26,140,255);
	border:none;
	border-radius: 5px;
}
