.main{
    background-color:rgb(66,66,66);
}
.login{
    background-color:rgb(171,204,237);
}
#logo{
    width:400px;
    height:60px;
}
ul{
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    background-color:white;
    list-style-type:none;
    margin:0px;
    padding:20px;
    overflow:hidden;
}

li a{
    display:block;
    color:rgb(66,66,66);
    text-align:center;
    padding:14px 16px;
    border-color:white;
    font-size:28px;
    font-family:Calibri;
    font-weight:bold;
    border:none;
    text-decoration: none;
    border-radius: 5px;
}
a:hover{
    background-color: #ddd;
}
a:active {
    color: white;
    background-color: rgb(66,66,66);
}
a.active {
    color: white;
    background-color: rgb(66,66,66);
}

.login li a{
display:block;
    color:rgb(171,204,237);
    text-align:center;
    padding:14px 16px;
    border-color:white;
    font-size:28px;
    font-family:Calibri;
    font-weight:bold;
    border:none;
    text-decoration: none;
    border-radius: 5px;
}
.login a:hover{
    background-color: darkblue;
}
.login a:active {
    color: white;
    background-color: rgb(171,204,237);
}
.login a.active {
    color: white;
    background-color: rgb(171,204,237);
}

@media(min-width:1396px){
    li{
        float:left;
    }
    .topbutton{
        float:right;
    }
}
@media(max-width:1395px){
    .topbutton{
        float:none;
    }
}

.sshortdescription{
color:white;
font-size:46px;
text-align:left;
max-width:400px;
padding-left:50px;
}
.form-signin2 {
position:fixed;
top:100px;
right:0px;
left:0px;
max-width: 400px;
padding: 30px;  
margin: 0;
}
.form-signin3{
    top:140px;
    left:450px;
    width:1000px;
    height:320px;
    padding-top:50px;
    position:relative;
}
.steps{
    width:300px;
    height:300px;
    margin:15px;
}
.steptext{
    color:white;
    font-size:36px;
    top:540px;
    position:absolute;
}
#step1txt{
    left:500px;
}
#step2txt{
    left:845px;
}
#step3txt{
    left:1190px;
}
	
.form-signin1 {
    max-width: 330px;  
    padding: 15px;  
    margin: 0 auto;
}
    
.form-signin1 .form-signin1-heading,   
.form-signin1 .checkbox 
{  
    margin-bottom: 10px;
}
    
.form-signin1 .checkbox {  
    font-weight: normal;
}
    
.form-signin1 .form-control {  
    margin:0 auto;
    align:center;
    font-size: 16px;  
    height: auto;  
    padding: 10px;  
    -webkit-box-sizing: border-box;     
    -moz-box-sizing: border-box;          
    box-sizing: border-box;
    border-radius: 10px;
}
    
.form-signin1 .form-control:focus {  
    z-index: 2;
}
    
.form-signin1 input[type="text"] {  
    margin-bottom: -1px;  
    border-bottom-left-radius: 0;  
    border-bottom-right-radius: 0;
}
    
.form-signin1 input[type="password"] {  
    margin-bottom: 10px;  
    border-top-left-radius: 0;  
    border-top-right-radius: 0;
}
.form-signin1-heading{
    color:white;
}
#sbutton{
	padding: 10px;
	color:white;
	background-color:rgb(26,140,255);
	border:none;
	border-radius: 5px;
}
